<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% trans %}blog.title{% endtrans %} {% trans %}blog.tagline{% endtrans %}{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
             <!-- Boostrap min CSS -->
        	<link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" /> 
            <link href="{{ asset('bundles/app/css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('bundles/app/images/hubshark.favicon.png') }}" />
    </head>
    <body>
    
    	<div id="hubshark" class="container">
			
<!-- Locale Switch -->
	<br/>
	<div class="row">
  		<div class="col-xs-3 col-sm-1 col-md-1 col-xs-offset-6 col-sm-offset-10 col-md-offset-10">
  			<a href="{{ path('switch_language_english') }}" class="thumbnail">
				<img src="{{ asset('bundles/app/images/flags/us.png') }}" alt="{% trans %}locale.english{% endtrans %}">
			</a>
  		</div>
  		<div class="col-xs-3 col-sm-1 col-md-1">
			<a href="{{ path('switch_language_german') }}" class="thumbnail">
				<img src="{{ asset('bundles/app/images/flags/de.png') }}" alt="{% trans %}locale.german{% endtrans %}">
				</a>
  			</div>
						
		</div>
    	
    	
{% block header %}
	<div class="row">
		<div class="col-md-12">
	    <header id="header">
			<hgroup>
                <h2>{% block blog_title %}<img src="{{ asset('bundles/app/images/hubshark.logo.120.png') }}" /><a href="{{ path('homepage') }}">{% trans %}blog.title{% endtrans %}</a></img>{% endblock %}</h2>
                <h3>{% block blog_tagline %}<a href="{{ path('homepage') }}">{% trans %}blog.tagline{% endtrans %}</a>{% endblock %}</h3>
             </hgroup>
		</header>	     	
	    </div>	     		
	</div>
{% endblock %}
	     	
{% block navbar %}
<nav class="navbar navbar-default" role="navigation">

   <div class="container-fluid">
	    			
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-simples">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="{{ path('homepage') }}" style="color:#105ea0">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> {% trans %}nav.home{% endtrans %}
         </a>
      </div>
				
      <div class="collapse navbar-collapse" id="navbar-simples">
         <ul class="nav navbar-nav">
			<li>
               <a href="{{ path('about') }}" style="color:#337ab7">
                  <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {% trans %}nav.about{% endtrans %}
               </a>
            </li>	
            <li>
               <a href="{{ path('contact') }}" style="color:#337ab7">
                  <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {% trans %}nav.contact{% endtrans %}
               </a>
            </li><li></li>
            <li>
               <a href="{{ path('search') }}" style="color:darkred">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> {% trans %}nav.search{% endtrans %}
               </a>
            </li>
         </ul>
         
<!--| Login/Logout Start-needed |-->
        <ul class="nav navbar-nav navbar-right">         
<!--| Login/Logout End-needed |-->


<!--| If Admin Start |-->

<!--| If Admin End |-->


<!--| Login/Logout Start |-->
			    {% if app.user %}
					<li class="dropdown pull-right"><a href="{{ path('logout') }}" style="color:crimson"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> {% trans %}login.logout{% endtrans %}</a></li>
				{% else %}
					<li class="dropdown pull-right"><a href="{{ path('login') }}" style="color:crimson"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> {% trans %}login.login{% endtrans %}</a></li>
				{% endif %}						
		    </ul>
<!--| Login/Logout End |-->
      </div>
   </div>
</nav>
{% endblock %}
	     	
<div class="panel panel-default">			

    <div class="panel-body">    
		<div class="container-fluid">				
<!--            <section id="wrapper">-->
<!--            <header id="header">-->
<!--                <div class="top">-->
      <!-- The content of the Blog will be here-->
        <section class="main-col">
            {% block body %}{% endblock %}
        </section>
      <!-- The content of the Sidebar will be here-->
        <aside class="wrapper sidebar">
                {% block sidebar %}{% endblock %}
        </aside>
<!--                </section>-->
        </div>
    </div>
   <!-- Share in social networks the page that the user is reading -->
   <div class="panel-footer">
    <div id="footerInfo" class="text-center">
	  	{% block footer %}
	  	    {% trans %}footer.copy{% endtrans %} &copy; {{ "now" | date("Y") }} <a href="{% trans %}footer.mail.username{% endtrans %}@{% trans %}footer.mail.domain{% endtrans %}">{% trans %}footer.mail.title{% endtrans %}</a>
	  	    
	  	    <br>
	  	    <a href="">{% trans %}legal.terms{% endtrans %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	  	    <a href="">{% trans %}legal.disclaimer{% endtrans %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	  	    <a href="">{% trans %}legal.privacy{% endtrans %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	  	    <a href="">{% trans %}legal.trademarks{% endtrans %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	  	    <a href="">{% trans %}legal.imprint{% endtrans %}</a>
	  	{% endblock %}
	</div>
   <div id="socialNetworks" class="text-center">
      <a id="shareFB" target="_blank"
         href="https://www.facebook.com/sharer/sharer.php?u={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
         <img src="{{ asset('bundles/app/images/facebook.png') }}" alt="Share on Facebook"/>
      </a>
						
      <a id="shareTW" target="_blank"
         href="http://twitter.com/home?status={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
         <img src="{{ asset('bundles/app/images/twitter.png') }}" alt="Share on Twitter"/>
      </a>
   </div>
	  				
  </div>
  				
</div>
    		

	     	     	
	        {% block javascripts %}
	           	<!-- JQuery -->
			<script src="{{ asset('bundles/app/js/jquery-1.9.1.min.js') }}" type="text/javascript"></script>
				
			<!-- Boostrap -->
			<script src="{{ asset('bundles/app/js/bootstrap.min.js') }}" type="text/javascript"></script>
	        {% endblock %}
    		
    	</div>
    	
    </body>
</html>
