{# src/AppBundle/Resources/views/Page/sidebar.html.twig #}
 
<section class="section">
    <header>
        <h3>Tag Cloud</h3>
    </header>

</section>
 
<section class="section">
    <header>
        <h3>Latest Comments</h3>
    </header>
    
</section>
 
 
{# Below we have the project version showing. Tray to keep at the bottom #}
<section class="section">
    <header>
        <h3>CMS Version:</h3>
    </header>
    <p>
        <center><b>HubShark</b> - {{ app_version }}</center>
    </p>
</section>
